<div id="<%= dom_id defense %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Townhall:</strong>
    <%= defense.townhall %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= defense.content %>
  </p>

</div>
